.textarea {
    margin-top: 20px;
    border-style: none;
    border-color: Transparent; 
}

.my_accordion {
    background-color: #ffffff;
}

.title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    margin-bottom: 5px;
    padding: 10px 20px;
    height: 50px;
    transition: all 0.2s ease;
}

.title.active {
    background: linear-gradient(90deg, rgb(119, 104, 255) 0%, rgb(89, 80, 255) 100%);
    color: white;
    font-size: bold;
    transition: all 0.2s ease;
}

.content {
    display: flex;
    height: 0px;
    flex-direction: column;
    overflow: hidden;
    transition: all 0.4s ease;
}

.content.show {
    height: 100px;
    border-bottom: 1px solid #eeecec;
    transition: all 0.4s ease;
}

.content__radio {
    margin: 10px 40px;
    text-align: left;
}

.chevron {
    position: relative;
    transform: rotate(0deg);
    transition: all 0.2s ease;
}

.chevron.active {
    position: relative;
    transform: rotate(-180deg);
    transition: all 0.2s ease;
}

.vote_content {
    display: flex;
    flex-direction: column;
    max-height: 0px;
    overflow: hidden;
    /* transition: all 0.4s ease; */
}

.vote_content.show {
    max-height: 1000px;
    border-bottom: 1px solid #eeecec;
    /* transition: max-height 0.4s ease; */
}

.vote_box {
    display: flex;
}

.vs_content {
    display: flex;
    flex-direction: column;
    max-height: 0px;
    overflow: hidden;
    /* transition: all 0.4s ease;    */
}

.vs_content.show {
    height: 1000px;
    border-bottom: 1px solid #eeecec;
    /* transition: all 0.4s ease; */
}

.ox_content {
    max-height: 0px;
    overflow: hidden;
    /* transition: all 0.4s ease; */
}

.ox_content.show {
    max-height: 1000px;
    border-bottom: 1px solid #eeecec;
    /* transition: max-height 0.4s ease; */
}

.hashtag_input {
    margin-top: 10px;
    width: 100%;
}

.input_area {
    display: flex;
}

.input_button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin-top: 10px;
    font-size: 1rem;
    font-weight: 400;
    text-align: center;
    text-decoration: none;
}

.hashtag_outer {
    display: flex;
    flex-wrap: wrap;
}

.hashtag_inner {
    margin-top: 5px;
    background: #ffeee7;
    border-radius: 56px;
    padding: 8px 12px;
    color: #ff6e35;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 0.9rem;
    line-height: 20px;
    margin-right: 5px;
}

.hashtag_remove {
    cursor: pointer;
}

.bubble {
    display: none;
    position: absolute;
    width: auto;
    height: auto;
    padding: 5px;
    margin-top: 10px;
    background: #FFFFFF;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    border: #7F7F7F solid 1px;
}

.bubble.active {
    display: flex
}

.bubble.active:after {
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 0 8px 9px;
    border-color: #FFFFFF transparent;
    display: block;
    width: 0;
    z-index: 1;
    top: -9px;
    left: 28px;
}

.bubble.active:before
{
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 0 8px 9px;
    border-color: #7F7F7F transparent;
    display: block;
    width: 0;
    z-index: 0;
    top: -10px;
    left: 28px;
}

.img_box {
    display: flex;
    align-items: center;
}

.thumbnail {
    height: 100px;
    width: auto;
}

.imgDelete {
    display:none;
}

.imgDelete.show {
    display:flex;
}

.button2 {
    width:auto;
    height:auto;
    background-color:rgb(185, 185, 185) ;
}

.button_group {
    display: flex;
    justify-content: space-around;
}

.button_vote {
    font-size: 1.0rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 33%;
    height: 30px;
    padding: 0px 5px;
    border-radius: 5px;
    font-weight: bold;
    color: rgb(89, 80, 255);
    background-color: white;
    border: rgb(89, 80, 255) solid 1px;
    
}

.button_vote.active {
    color: white;
    background: linear-gradient(90deg, rgb(119, 104, 255) 0%, rgb(89, 80, 255) 100%);
}

.button_ox {
    font-size: 1.1rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 33%;
    height: 30px;
    padding: 0px 5px;
    border-radius: 5px;
    background-color: rgb(240, 240, 240);
}