.detail_title {
    background-color: white;
    padding: 15px 15px;
    height: auto;
    width: 100%;
    max-height: 500px;
    word-break: break-all;
}

.detail_box {
    height: 100%;
    background-color: #4F9DDF;
    overflow: scroll;
    padding-top: 10px
}

.detail_content {
    height: 100%;
}

.detail_vote {
    background-color: #F0F0F0;
    margin: 20px 0;
    min-height: 50px;
    display: flex;
    align-items: center;
    padding: 0 15px;
    border-radius: 5px;
    cursor: pointer;
}

.detail_vote.active {
    background-color: #c2c2c2;
}

.detail_close {
    position: absolute;
    top: 3%;
    right: 6%;
    color: white;
    z-index: 100;
}

.detail_button {
    background-color: rgb(41, 116, 255);
    color: white;
    font-weight: bold;
    padding: 5px;
    border-radius: 3px;
    margin-top: 50px;
    margin-bottom: 20px;
    cursor: pointer;
}

.detail_close_button {
    background-color: #9b9b9b;
    color: white;
    font-weight: bold;
    padding: 5px;
    border-radius: 3px;
    margin-top: 50px;
    margin-bottom: 20px;
    cursor: pointer;
}

.detail_vs {
    background-color: #F0F0F0;
    margin: 10px 0;
    min-height: 80px;
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 15px;
    border-radius: 5px;
    cursor: pointer;
}

.detail_vs.active {
    background-color: #c2c2c2;
}

.my_check {
    position: absolute;
    color: green;
    top: 0;
    left: 0;

}

.ox_container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}

.detail_ox {
    width: 50%;
    min-height: 100px;
    background-color: #F0F0F0;
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin: 3px;
    border-radius: 5px;
}

.detail_ox.active {
    background-color: #c2c2c2;
}

