.feed_drop {
    display: none;
    position: absolute;
    background-color: #bdcbdd;
    right: 10px;
    width: 80px;
    padding: 8px;
    border-radius: 5%;
    z-index: 1000
}

.feed_drop.active {
    display: block;
}

.comments_modal {
    height: 0;
    width: 100%;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    position: fixed;
    left: 0;
    bottom: 0;
    text-align: center;
    background-color: white;
    z-index: 1000;
    transition: all ease 0.25s;
    visibility: hidden;
}

.comments_modal.active {
    visibility: visible;
    height: 100%;
    transition: all ease 0.25s;
}

.edit_drop {
    visibility: hidden;
}

.edit_drop.active {
    visibility: visible;
}

.detail_modal {
    height: 0;
    width: 100%;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    position: fixed;
    left: 0;
    top: 0;
    text-align: center;
    background-color: white;
    z-index: 1000;
    /* transition: all ease 0.25s; */
    visibility: hidden;
}

.detail_modal.active {
    visibility: visible;
    height: 100%;
    /* transition: all ease 0.25s; */
}