.feed_drop {
    display: none;
    position: absolute;
    background-color: white;
    border: rgb(211, 211, 211) solid 1px;
    right: 10px;
    width: 80px;
    padding: 8px;
    border-radius: 5%;
    z-index: 998;
}

.feed_drop.active {
    display: block;
}

.comments_modal {
    height: 0;
    width: 100%;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    position: fixed;
    padding-bottom: 10%;
    left: 0;
    bottom: 0;
    text-align: center;
    background-color: white;
    z-index: 1000;
    transition: all ease 0.25s;
    visibility: hidden;
    overflow: scroll;
}

.comments_modal.active {
    visibility: visible;
    height: 100%;
    transition: all ease 0.25s;
}

.edit_drop {
    visibility: hidden;
}

.edit_drop.active {
    visibility: visible;
}

.detail_modal {
    height: 0;
    width: 100%;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    position: fixed;
    left: 0;
    top: 0;
    text-align: center;
    background-color: white;
    z-index: 1000;
    /* transition: all ease 0.25s; */
    visibility: hidden;
}

.detail_modal.active {
    visibility: visible;
    height: 100%;
    /* transition: all ease 0.25s; */
}

.type_button {
    margin-top: 5px;
    border-radius: 5px;
    padding: 3px 7px;
    color: #ffffff;
    display: inline-block;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 0.8rem;
    line-height: 20px;
    margin-right: 5px;
}

.feed_button1 {
    display: block;
    background-color: #808080;
    color: #ffffff;
    font-weight: bold;
    width: 80px;
    margin: auto;
    border-radius: 5px;
}

.feed_button2 {
    display: block;
    background: linear-gradient(90deg, rgb(110, 94, 254) 0%, rgba(73, 63, 252, 1) 100%);
    color: #ffffff;
    font-weight: bold;
    width: 80px;
    margin: auto;
    border-radius: 5px;
}

.date_line {
    text-align: "center";
    display: flex;
    justify-content: end;
    align-items: center;
    margin-right: "6px";
    display: flex;
}

.postButton {
    position: "fixed";
    bottom: 10px;
    right: 10px;
    z-index: 1000;
}