.Nav {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.NavbarItems {
  background: linear-gradient(90deg, rgb(110, 94, 254) 0%, rgba(73, 63, 252, 1) 100%);
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  position: relative;
  z-index: 1000;
}

.nav-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 70px;
  top: -70px;
  left: 0;
  opacity: 1;
  transition: all 1s ease;
  z-index: 999;
}

.nav-menu.active {
  background: #6668f4;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 70px;
  top: 70px;
  left: 0;
  opacity: 1;
  transition: all 1s ease;
  z-index: 999;
}

.menu-icon {
  display: block;
  font-size: 2.7rem;
  position: absolute;
  cursor: pointer;
}

.navbar-arrow {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(25%, 50%);
}

.navbar-hamburger {
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(-25%, 50%);
  cursor: pointer;
}