.feed_drop {
    display: none;
    position: absolute;
    background-color: #bdcbdd;
    right: 10px;
    width: 80px;
    padding: 8px;
    border-radius: 5%;
}

.feed_drop.active {
    display: block;
}

.comment_box {
    margin: 0, 5%, 10%, 5%;

}

.update_area {
    display: flex;
}

.update_input {
    margin-top: 10px;
    width: 100%;
}